.square {
    display: flex;
    width: 62px;
    height: 62px;
    border: 2px solid gray;
    margin: 2px;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}